<div class="container">
  <div class="post-item">
    <div class="post-image">
      <img src="assets/leaf.jpg" alt="" />
    </div>
    <div class="post-summary">
      <div class="breadcrumb">麵包屑</div>
      <h2 class="post-title">文章標題</h2>
      <div class="post-date">日期</div>
      <div class="post-content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde veniam
          nulla ea officia illo magnam corrupti qui saepe non, aliquam eos.
          Commodi dolor sed expedita obcaecati suscipit, cumque deleniti fugiat.
        </p>
      </div>
      <div class="social-media">社交媒體</div>
    </div>
  </div>
  <br />

  <div class="post-item">
    <div class="post-image">
      <img src="assets/leaf.jpg" alt="" />
    </div>
    <div class="post-summary">
      <div class="breadcrumb">麵包屑</div>
      <h2 class="post-title">文章標題</h2>
      <div class="post-date">日期</div>
      <div class="post-content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde veniam
          nulla ea officia illo magnam corrupti qui saepe non, aliquam eos.
          Commodi dolor sed expedita obcaecati suscipit, cumque deleniti fugiat.
        </p>
      </div>
      <div class="social-media">社交媒體</div>
    </div>
  </div>
</div>
