.container {
  text-align: center;
  width: 100%;
  .post-item {
    display: flex;
    border-bottom: 1px solid #dedede;
    padding-bottom: 40px;
    margin-bottom: 40px;
    .post-image {
      width: 50%;
      max-width: 370px;
      img {
        width: 100%;
      }
    }
    .post-summary {
      text-align: left;
      margin-left: 30px;
      width: 50%;
      max-width: 370px;
      font-family: "Open Sans";
      .breadcrumb {
        margin-bottom: 8px;
        font-size: 12px;
      }
      .post-title {
        margin: 6px 0px;
        font-size: 18px;
        font-family: "Montserrat";
      }
      .post-date {
        margin-bottom: 18px;
        font-size: 13px;
      }
      .post-content {
        font-size: 13px;
      }
      .social-media {
        clear: both;
      }
    }
  }
}
