<div class="container">
  <div class="content">
    <img class="post-image" src="assets/leaf.jpg" alt="" />
    <div class="breadcrumb">麵包屑</div>
    <h1 class="post-title">標題</h1>
    <div class="article">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus,
        deleniti quos accusamus alias, nihil corrupti deserunt error illum quam
        culpa placeat. Quam quae doloremque vitae voluptatibus, obcaecati non
        est eos?
      </p>
    </div>
    <button>CONTINUE READING</button>
    <div class="post-author-date">June 7, 2017</div>
  </div>
  <app-post-list></app-post-list>
</div>
